@use "./style" as s;

.text-primary{
    color: s.$primary-text-color;
}


.text-secondary{
    color: s.$secondary-text-color;
}

.bg-primary{
    background: s.$primary-bg-color;
}

.bg-secondary{
    background: s.$secondary-bg-color;
}

.hidden {
    display: none !important;
}

.flex-container{
    display: flex;
}

.no-scroll {
    height: 100%;
    overflow-y: hidden;
}